In [2]:
# Load Data
import glob 
import pandas as pd

def Carga_All_Files( ):
    regexp='../data/covi*'
    df = pd.DataFrame()
    # Iterate trough LIST DIR and 
    for my_file in glob.glob(regexp):
        this_df = pd.read_csv(my_file)
        this_df['Fecha'] = my_file
        df = pd.concat([df,this_df])
    return df  

df = Carga_All_Files( )

df.tail()

,ID,CCAA,Casos,IA,UCI,Fallecidos,Hospitalizados,Nuevos,Curados,Fecha
13,942,Madrid,1388,20.77,135,56,NaN,NaN,NaN,../data/covi1203.csv
14,952,Murcia,26,1.74,1,0,NaN,NaN,NaN,../data/covi1203.csv
15,943,Navarra,73,11.16,3,0,NaN,NaN,NaN,../data/covi1203.csv
16,950,País Vasco,346,15.67,18,11,NaN,NaN,NaN,../data/covi1203.csv
17,949,La Rioja,205,64.71,1,2,NaN,NaN,NaN,../data/covi1203.csv

In [25]:
def Get_Comunidades_List( ):
    return Carga_All_Files( )['CCAA'].unique()

In [26]:
#Get_Comunidades_List()

array(['Andalucía', 'Aragón', 'Asturias', 'Baleares', 'Canarias',
       'Cantabria', 'Castilla La Mancha', 'Castilla y León', 'Cataluña',
       'Ceuta y Melilla', 'C. Valenciana', 'Extremadura', 'Galicia',
       'Madrid', 'Murcia', 'Navarra', 'País Vasco', 'La Rioja'],
      dtype=object)

In [3]:
def Preprocesado():
    df = Carga_All_Files( )
    # Formateamos la fecha
    df['Fecha'].replace({
        '../data/covi': '2020-',
        '.csv'        : ''}, inplace=True, regex=True)
    df['Fecha'] =  pd.to_datetime(df['Fecha'], format='%Y-%d%m')
    # 
    
    return df.sort_values(by='Fecha')

df = Preprocesado()

In [4]:
import numpy as np

def Enrich_Columns(comunidad):
    del comunidad['ID']
    del comunidad['IA']
    del comunidad['Nuevos']

    if 'Fecha' in comunidad.columns :
        comunidad.set_index('Fecha', inplace=True) 

    # Datos de fallecimientos diarios, en totales y tanto por uno.
    comunidad['Fallecidos hoy absoluto'] = comunidad['Fallecidos'] - comunidad['Fallecidos'].shift(1)
    comunidad['Fallecidos hoy porcentaje'] = comunidad['Fallecidos hoy absoluto']  / comunidad['Fallecidos'] 
    comunidad['Fallecidos hoy variacion diferencia'] = comunidad['Fallecidos hoy absoluto'] - comunidad['Fallecidos hoy absoluto'].shift(1)

    # Datos de Casos diarios,  en totales y tanto por uno.
    comunidad['Casos hoy absoluto'] = comunidad['Casos'] - comunidad['Casos'].shift(1)
    comunidad['Casos hoy porcentaje'] = comunidad['Casos hoy absoluto']  / comunidad['Casos'] 
    comunidad['Casos hoy variacion diferencia'] = comunidad['Casos hoy absoluto'] - comunidad['Casos hoy absoluto'].shift(1)
    # Convertimos a entero, para quitar decimales
    CONVERT_INT_COLUMNS = ['Fallecidos hoy absoluto', 
                           'Fallecidos hoy variacion diferencia',
                           'Casos hoy variacion diferencia',
                           'Casos hoy absoluto',
                           'Hospitalizados',
                           'Curados']
    for column in CONVERT_INT_COLUMNS :
        comunidad[column] = comunidad[column].fillna(0)
        comunidad[column] = comunidad[column].astype(np.int64)
    # ordenamos las filas y columnas
    columnsTitles = ['CCAA', 
                     'Casos'     , 'Casos hoy absoluto'     , 'Casos hoy variacion diferencia', 'Casos hoy porcentaje'      ,
                     'Fallecidos', 'Fallecidos hoy absoluto', 'Fallecidos hoy variacion diferencia', 'Fallecidos hoy porcentaje' ,
                     'Curados',
                     'UCI',  
                     'Hospitalizados']
    comunidad = comunidad.reindex(columns=columnsTitles)
    comunidad = comunidad.sort_values(by=['Fecha'], ascending=False)
    comunidad = comunidad.rename(columns = {'CCAA':'Lugar'})

    return comunidad

def Get_Comunidad(nombre_comunidad):
    # Trabajamos solo con una comunidad
    df = Preprocesado()
    df = df[(df['CCAA'] == nombre_comunidad)].sort_values(by='Fecha')
    df = Enrich_Columns(df)
    return df

def Get_Nacion():
    df = Preprocesado()
    df = df.sort_values(by='Fecha')
    df = df.groupby(['Fecha']).sum()
    df['CCAA'] = 'España'
    df = Enrich_Columns(df)
    return df

In [5]:
# Just for debug purposes
def Debug_Get_Comunidad():
    comunidad = Get_Comunidad('Madrid')
    return comunidad

Debug_Get_Comunidad()

,Lugar,Casos,Casos hoy absoluto,Casos hoy variacion diferencia,Casos hoy porcentaje,Fallecidos,Fallecidos hoy absoluto,Fallecidos hoy variacion diferencia,Fallecidos hoy porcentaje,Curados,UCI,Hospitalizados
Fecha,,,,,,,,,,,,
2020-03-25,Madrid,14597,2245,468,0.153799,1825,290,18,0.158904,3031,1150,11153
2020-03-24,Madrid,12352,1777,904,0.143863,1535,272,30,0.177199,2291,1050,10443
2020-03-23,Madrid,10575,873,92,0.082553,1263,242,25,0.191607,2063,942,9561
2020-03-22,Madrid,9702,781,-975,0.080499,1021,217,41,0.212537,0,834,8441
2020-03-21,Madrid,8921,1756,1368,0.196839,804,176,46,0.218905,0,767,7388
2020-03-20,Madrid,7165,388,-752,0.054152,628,130,22,0.207006,0,678,0
2020-03-19,Madrid,6777,1140,374,0.168216,498,108,73,0.216867,0,590,0
2020-03-18,Madrid,5637,766,60,0.135888,390,35,-107,0.089744,0,491,0
2020-03-17,Madrid,4871,706,-1469,0.144939,355,142,10,0.400000,0,340,0
2020-03-16,Madrid,4165,2175,1573,0.522209,213,132,107,0.619718,0,253,0
2020-03-13,Madrid,1990,602,238,0.302513,81,25,0,0.308642,0,180,0
2020-03-12,Madrid,1388,364,122,0.262248,56,25,15,0.446429,0,135,0
2020-03-11,Madrid,1024,242,-71,0.236328,31,10,-3,0.322581,0,102,0
2020-03-10,Madrid,782,313,-19,0.400256,21,13,7,0.619048,0,77,0
2020-03-09,Madrid,469,332,285,0.707889,8,6,5,0.750000,0,53,0
2020-03-06,Madrid,137,47,0,0.343066,2,1,0,0.500000,0,2,0
2020-03-05,Madrid,90,0,0,NaN,1,0,0,NaN,0,2,0

In [6]:
# Just for debug purposes
def Debug_Get_Nacion():
    return Get_Nacion()

Debug_Get_Nacion()

,Lugar,Casos,Casos hoy absoluto,Casos hoy variacion diferencia,Casos hoy porcentaje,Fallecidos,Fallecidos hoy absoluto,Fallecidos hoy variacion diferencia,Fallecidos hoy porcentaje,Curados,UCI,Hospitalizados
Fecha,,,,,,,,,,,,
2020-03-25,España,47610,7937,1353,0.166709,3434,738,224,0.214910,5367,3166,26960
2020-03-24,España,39673,6584,2067,0.165957,2696,514,52,0.190653,3794,2636,22762
2020-03-23,España,33089,4517,871,0.136511,2182,462,68,0.211732,3355,2355,18374
2020-03-22,España,28572,3646,-1300,0.127607,1720,394,70,0.229070,0,1785,15554
2020-03-21,España,24926,4946,2113,0.198427,1326,324,89,0.244344,0,1611,13282
2020-03-20,España,19980,2833,-598,0.141792,1002,235,66,0.234531,0,1125,0
2020-03-19,España,17147,3431,893,0.200093,767,169,62,0.220339,0,939,0
2020-03-18,España,13716,2538,551,0.185039,598,107,-75,0.178930,0,774,0
2020-03-17,España,11178,1987,-2995,0.177760,491,182,-9,0.370672,0,563,0
2020-03-16,España,9191,4982,3723,0.542052,309,191,157,0.618123,0,432,0
2020-03-13,España,4209,1259,437,0.299121,118,34,-3,0.288136,0,272,0
2020-03-12,España,2950,822,316,0.278644,84,37,25,0.440476,0,190,0
2020-03-11,España,2128,506,-117,0.237782,47,12,-7,0.255319,0,142,0
2020-03-10,España,1622,623,-40,0.384094,35,19,8,0.542857,0,100,0
2020-03-09,España,999,663,564,0.663664,16,11,9,0.687500,0,68,0
2020-03-06,España,336,99,0,0.294643,5,2,0,0.400000,0,11,0
2020-03-05,España,237,0,0,NaN,3,0,0,NaN,0,9,0